/*--------------------------
      Global Styles
---------------------------*/
html,
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #555;
}

::selection {
  background-color: #3390ff;
  color: #ffffff;
}

a {
  color: #3390ff;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

a:hover {
  color: #3390ff;
  text-decoration: none;
}

/*-------------------------
    RESET Default Styles
--------------------------*/
*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

*,
:active,
:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

button,
button:focus,
.btn.focus,
.btn:focus,
.form-control,
.form-control:focus {
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

select {
  background-color: transparent;
}

/*----------------------------
    Helper Classes
----------------------------*/


/*  margin Top */
.mt_100 {
  margin-top: -100px;
}

/* Padding Arround */
.p-50 {
  padding: 50px;
}

/* Padding to-bottom */
.py-80 {
  padding: 80px 0;
}

.py-30 {
  padding: 30px 0;
}

.py-20 {
  padding: 30px 0;
}

/* Padding-top */
.pt-180 {
  padding-top: 180px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-50 {
  padding-top: 50px;
}

/* Padding Bottom */
.pb-100 {
  padding-bottom: 100px;
}

.pb-80 {
  padding-bottom: 80px;
}


/* Margin Bottom */
.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .mb-0--lg {
    margin-bottom: 0 !important;
  }

}


.align-v {
  display: flex;
  align-items: center;
}

.align-v-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-between {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

/*-------------------------
   Typography
--------------------------*/

.heading h2 {
  font-size: 2em;
  font-weight: 700;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 16px;
  line-height: 2;
}

.lead {
  font-weight: 400;
}

.lead strong {
  font-weight: 700;
}

/*-------------------------
   Background & Colors
--------------------------*/
.color-dark {
  color: #002856;
}

.bg-light-gray {
  background-color: #e9e9e9;
}

.bg-light-dark {
  background-color: #242b2b;
}

.bg-img {
  position: relative;
  z-index: 1;
}

.bg-dark-blue {
  background-color: #002856;
}

.bg-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(27, 26, 26, 0.05);
}

/*------------------------ 
    Buttons
-------------------------*/
.btn-primary {
  border: 2px solid #3390ff;
  background: #3390ff;
}

.btn-hover-bdr:hover {
  border: 2px solid #3390ff;
  background: transparent;
  color: #3390ff;
}

.btn-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
}

/*------------------------ 
    Clip Path
-------------------------*/

.triangle-clip-path {
  clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0 90%, 0 0);
}

/*------------------------ 
   Search Box
-------------------------*/

.x-site-search {
  float: right
}

.x-site-search__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle
}

.x-site-search__input {
  border: 2px solid #3390ff;
  color: #000;
  padding: 5px 10px;
  line-height: 1.5;
  color: #111;
  position: relative;
  right: -2px;
  border-radius: 0;
  max-width: 163px
}


.x-site-search__input {
  background-color: transparent;
  color: #fff
}

.x-site-search__input::-webkit-input-placeholder {
  color: #fff
}

.x-site-search__input:-moz-placeholder {
  color: #fff;
  opacity: 1
}

.x-site-search__input::-moz-placeholder {
  color: #fff;
  opacity: 1
}

.x-site-search__input:-ms-input-placeholder {
  color: #fff
}

.x-site-search__input::-ms-input-placeholder {
  color: #fff
}

.x-site-search__button {
  border: 2px solid #3390ff;
  background-color: #3390ff;
  color: #fff;
  font-size: .9em;
  padding: 0 8px
}

.x-site-search__button:active,
.x-site-search__button:focus,
.x-site-search__button:hover {
  position: relative;
  background-color: #fff;
  color: #2983d1;
  z-index: 1
}

.x-site-search__button>i {
  display: block
}


/*----------------------------
      Navbar & Header
-----------------------------*/
.header {
  position: relative;
  z-index: 1010;

}

/* Navbar */
.navbar {
  padding: 0;
  height: 107px;
  max-height: 107px;
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
  /*  dropdown-menu  */
}

.navbar>.container,
.navbar>.container-fluid {
  position: relative;
  height: 107px;
}

.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar .navbar-brand img {
  width: 70%;
}

.navbar .logo-light {
  display: none;
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  border-radius: 0;
  width: 23px;
  position: relative;
}

.navbar .navbar-toggler .menu-lines {
  display: inline-block;
}

.navbar .navbar-toggler .menu-lines:before,
.navbar .navbar-toggler .menu-lines:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 23px;
  height: 2px;
  display: inline-block;
  background-color: #333333;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navbar .navbar-toggler .menu-lines:after {
  top: 10px;
}

.navbar .navbar-toggler .menu-lines span {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: #333333;
}

.navbar .navbar-toggler.actived .menu-lines>span {
  opacity: 0;
}

.navbar .navbar-toggler.actived .menu-lines:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar .navbar-toggler.actived .menu-lines:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar .navbar-nav {
  margin-top: 42px;
}

.navbar .nav__item {
  position: relative;
  margin-right: 29px;
}

.navbar .nav__item:last-child {
  margin-right: 0;
}

.navbar .nav__item .nav__item-link {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  position: relative;
  color: #333333;
  line-height: 65px;
  letter-spacing: 0.4px;
}

.navbar .nav__item .nav__item-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  display: block;
  background-color: #333333;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navbar .nav__item .nav__item-link.active:before,
.navbar .nav__item .nav__item-link:hover:before {
  width: 100%;
}

.navbar .dropdown-toggle:after {
  content: "\f105";
  font-family: fontAwesome;
  border: none;
  vertical-align: middle;
  margin-left: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar .dropdown-menu {
  border-radius: 0;
  border: none;
  margin: 0;
  background-color: #ffffff;
}

.navbar .dropdown-menu .nav__item {
  padding: 0 40px;
  margin-right: 0;
}

.navbar .dropdown-menu .nav__item .nav__item-link {
  color: #9b9b9b;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 40px !important;
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid #eaeaea;
}

.navbar .dropdown-menu .nav__item .nav__item-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #3390ff;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -ms-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

.navbar .dropdown-menu .nav__item .nav__item-link:hover {
  color: #3390ff;
}

.navbar .dropdown-menu .nav__item .nav__item-link:hover:after {
  width: 100%;
}

.navbar .dropdown-menu .nav__item:last-child>.nav__item-link {
  border-bottom: none;
}

.navbar .dropdown-menu .nav__item:last-child>.nav__item-link:after {
  display: none;
}

.navbar .dropdown-menu .dropdown-toggle:after {
  right: 0;
}

.header__top-right {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-bottom: 0px;
}


/* header topbar */
.header__topbar {
  background-color: #282828;
  max-height: 45px;
}

/* @media only screen and (min-width: 320px) and (max-width: 767px) {
  .header__topbar {
    display: none;
  }
} */

/* navbar-transparent */
.header-transparent .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
}

.header-transparent .navbar .navbar-toggler .menu-lines:before,
.header-transparent .navbar .navbar-toggler .menu-lines:after,
.header-transparent .navbar .navbar-toggler .menu-lines span {
  background-color: #ffffff;
}

.header-transparent .navbar .nav__item .nav__item-link:before {
  background-color: #ffffff;
}

.header-transparent .logo-light {
  display: inline-block;
}

.header-transparent .logo-dark {
  display: none;
}


.header-transparent .nav__item .nav__item-link {
  color: #ffffff;
}



.header-transparent .navbar.fixed-navbar .nav__item .nav__item-link:before {
  background-color: #333333;
}



.header-full .navbar .navbar-nav {
  margin-top: 0;
}

.header-full .navbar,
.header-full .navbar .nav__item .nav__item-link {
  line-height: 100px;
}

.header-full .navbar,
.header-full .navbar>.container,
.header-full .navbar>.container-fluid {
  height: 100px;
}

/* fixed-navbar */
.fixed-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1040;
  border-bottom: 0 !important;
  height: 90px;
  max-height: 90px;
  background-color: #ffffff !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  -webkit-animation: translateHeader 0.8s;
  -moz-animation: translateHeader 0.8s;
  -ms-animation: translateHeader 0.8s;
  -o-animation: translateHeader 0.8s;
  animation: translateHeader 0.8s;
}

.fixed-navbar>.container,
.fixed-navbar>.container-fluid {
  position: relative;
  height: 90px;
}

.fixed-navbar .navbar-brand {
  line-height: 90px;
}

.fixed-navbar .header__top-right {
  display: none !important;
}

.fixed-navbar .nav__item .nav__item-link {
  color: #333333;
  line-height: 90px;
}

.fixed-navbar .logo-light {
  display: none;
}

.fixed-navbar .logo-dark {
  display: inline-block;
}

.fixed-navbar .navbar-nav {
  margin-top: 0;
}



.header-full .navbar.fixed-navbar,
.header-full .navbar.fixed-navbar .nav__item .nav__item-link {
  line-height: 90px;
}


/* Large Size Screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar .nav__item {
    margin-right: 20px;
  }
}

/* Mobile and Tablets */
@media only screen and (max-width: 991px) {
  .navbar .navbar-nav .nav__item .dropdown-toggle:after {
    content: "";
    position: absolute;
    margin-left: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }

  .navbar .navbar-toggler {
    position: absolute;
    right: 15px;
    height: 13px;
  }

  .navbar .navbar-nav .nav__item .dropdown-toggle:after {
    right: 15px;
    content: "\f067 ";
    font-family: "Font Awesome 5 Free";
  }

  .navbar .nav__item.opened>.dropdown-toggle:after,
  .navbar .nav__item.show>.dropdown-toggle:after {
    content: "\f068 ";
    font-family: "Font Awesome 5 Free";
  }

  .navbar .collapse:not(.show) {
    display: block;
  }

  .navbar .navbar-nav {
    margin: 0 !important;
  }

  .navbar .nav__item {
    margin-right: 0;
  }

  .navbar .nav__item .nav__item-link {
    color: #282828;
    line-height: 35px !important;
    padding-left: 15px;
  }

  .navbar .nav__item .nav__item-link:hover {
    color: #3390ff;
  }

  .navbar .nav__item .nav__item-link:before {
    display: none;
  }

  .navbar .navbar-collapse {
    background-color: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
    z-index: 50;
    padding: 15px 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  .navbar .navbar-collapse .navbar-modules {
    padding: 0 15px;
  }

  .navbar .menu-opened.navbar-collapse {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .navbar i[data-toggle=dropdown] {
    position: absolute;
    top: 7px;
    right: 15px;
    width: 50%;
    text-align: right;
    z-index: 2;
  }

  .navbar .dropdown-toggle:after {
    display: none;
  }

  .navbar .nav__item.opened>i[data-toggle=dropdown]:before,
  .navbar .nav__item.show>i[data-toggle=dropdown]:before {
    content: "ï„‡";
  }

  .navbar .dropdown-menu {
    background-color: white;
  }

  .navbar .dropdown-menu .nav__item {
    padding: 0 15px 0 30px;
  }

  .navbar .dropdown-menu .nav__item .nav__item-link {
    padding-left: 0;
    border-bottom: none;
  }

  .navbar .dropdown-menu .dropdown-menu-col .nav__item {
    padding: 0;
  }

  .navbar .dropdown-menu-col h6 {
    font-size: 13px;
    margin: 10px 0 5px;
  }

  .navbar .nav__item.dropdown-submenu>.dropdown-menu.show {
    padding-left: 10px;
  }

  .navbar .dropdown-submenu .dropdown-menu .nav__item {
    padding: 0 0 0 15px;
  }

  .navbar .navbar-nav .dropdown-menu.show {
    padding: 0;
  }

  .navbar .mega-dropdown-menu .container {
    max-width: none;
  }

  .navbar .mega-dropdown-menu>.nav__item {
    padding: 0 10px;
  }

  .navbar .mega-dropdown-menu .nav__item {
    padding: 0;
  }

  .fixed-navbar {
    position: static;
    animation: none;
  }

  .header-transparent+.page-title {
    margin-top: 0;
  }

  .header-full .navbar {
    line-height: 80px;
  }

  .header .navbar,
  .header-transparent .navbar {
    background-color: #ffffff;
  }

  .header .logo-dark,
  .header-transparent .logo-dark {
    display: inline-block;
  }

  .header .logo-light,
  .header-transparent .logo-light {
    display: none;
  }



  .header .navbar .navbar-toggler .menu-lines:before,
  .header .navbar .navbar-toggler .menu-lines:after,
  .header .navbar .navbar-toggler .menu-lines span,
  .header-transparent .navbar .navbar-toggler .menu-lines:before,
  .header-transparent .navbar .navbar-toggler .menu-lines:after,
  .header-transparent .navbar .navbar-toggler .menu-lines span {
    background-color: #333333;
  }

  .header .navbar-expand-lg>.container,
  .header .navbar-expand-lg>.container-fluid,
  .header-transparent .navbar-expand-lg>.container,
  .header-transparent .navbar-expand-lg>.container-fluid {
    width: 100%;
    max-width: none;
  }

  .header .navbar,
  .header .navbar>.container,
  .header .navbar>.container-fluid,
  .header-transparent .navbar,
  .header-transparent .navbar>.container,
  .header-transparent .navbar>.container-fluid {
    height: 80px;
  }

  .header .header-full .navbar,
  .header .header-full .navbar .navbar-brand,
  .header .navbar-brand,
  .header-transparent .header-full .navbar,
  .header-transparent .header-full .navbar .navbar-brand,
  .header-transparent .navbar-brand {
    margin-left: 15px;
    line-height: 80px !important;
  }

  .header .header-full .navbar,
  .header .header-full .navbar .navbar-brand,
  .header-transparent .header-full .navbar,
  .header-transparent .header-full .navbar .navbar-brand {
    line-height: 80px;
  }

  .header__topbar>.container {
    max-width: none;
  }
}

/* Medium and large Screens */
@media only screen and (min-width: 992px) {
  .navbar .dropdown-menu {
    width: auto;
    min-width: 235px;
    box-shadow: 0px 2px 6px 0px rgba(40, 40, 40, 0.1);
    padding: 25px 0 23px;
  }

  .navbar .dropdown-menu .nav__item .nav__item-link:before {
    display: none;
  }

  .navbar .dropdown-menu.wide-dropdown-menu {
    min-width: 470px;
    padding: 0;
    overflow: hidden;
  }

  .navbar .dropdown-menu.wide-dropdown-menu>.nav__item {
    padding: 0;
  }

  .navbar .dropdown-menu.wide-dropdown-menu h6 {
    font-size: 15px;
    margin: 0 0 13px 40px;
  }

  .navbar .dropdown-menu.wide-dropdown-menu .dropdown-menu-col {
    padding: 40px 0 27px;
  }

  .navbar .dropdown-menu.wide-dropdown-menu .dropdown-menu-col:first-child {
    box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.08);
  }

  .navbar .nav__item.with-dropdown>.dropdown-menu,
  .navbar .nav__item.dropdown-submenu>.mega-menu,
  .navbar .nav__item.with-dropdown>.mega-menu,
  .navbar .nav__item.with-dropdown>.dropdown-menu>.nav__item.dropdown-submenu>.dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    right: auto;
    z-index: 1050;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }

  .navbar .nav__item.with-dropdown>.dropdown-menu>.nav__item.dropdown-submenu>.dropdown-menu,
  .navbar .nav__item.dropdown-submenu>.dropdown-menu>.nav__item.with-dropdown>.dropdown-menu {
    top: 0;
    left: 100%;
  }

  .navbar .nav__item.with-dropdown:hover>.dropdown-menu,
  .navbar .nav__item.dropdown-submenu:hover>.mega-menu,
  .navbar .nav__item.with-dropdown:hover>.mega-menu,
  .navbar .nav__item.with-dropdown>.dropdown-menu>.nav__item.dropdown-submenu:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .navbar .nav__item.with-dropdown.mega-dropdown {
    position: static;
  }

  .navbar .nav__item.with-dropdown .mega-dropdown-menu {
    width: 100%;
  }

  .navbar .dropdown-menu.mega-dropdown-menu .nav__item {
    padding: 0;
  }

  .navbar .dropdown-menu.mega-dropdown-menu .nav__item .nav__item-link {
    overflow: hidden;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }

  .navbar .dropdown-menu.mega-dropdown-menu .nav__item .nav__item-link:after {
    font-family: "FontAwesome";
    content: "ï„‘";
    position: absolute;
    top: auto;
    left: -7px;
    font-size: 7px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    opacity: 0;
    color: #3390ff;
  }

  .navbar .dropdown-menu.mega-dropdown-menu .nav__item .nav__item-link:hover {
    padding-left: 15px;
  }

  .navbar .dropdown-menu.mega-dropdown-menu .nav__item .nav__item-link:hover:after {
    opacity: 1;
    left: 4px;
  }

  .navbar-nav>.nav__item>.dropdown-toggle:after {
    display: none;
  }

  .nav__item i[data-toggle=dropdown] {
    display: none;
  }
}

/* Mobile Phones and tablets */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .dropdown-menu.mega-dropdown-menu>.nav__item {
    padding: 0 15px;
  }

  .dropdown-menu.mega-dropdown-menu .nav__item:last-child>.nav__item-link {
    border-bottom: 1px solid #f2f2f2;
  }

  .dropdown-menu.mega-dropdown-menu [class^=col-]:last-child .nav__item:last-child>.nav__item-link {
    border-bottom: none;
  }
}


/* Header Animation */
@-webkit-keyframes translateHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes translateHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes translateHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes translateHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes translateHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

/* =========================
    Video Background
 ========================= */
.header-transparent+.baf-home-slider {
  margin-top: -107px;
}

.baf-home-slider {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.baf-home-slider video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.baf-home-slider .container {
  position: relative;
  z-index: 2;
}

.baf-home-slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(0, 40, 86) 0%, rgba(0, 40, 86, 0.8) 10%, rgba(0, 40, 86, 0.0) 30%);
  z-index: 1;
}


/* 
@media (pointer: coarse) and (hover: none) {
  .baf-home-slider {
    background: url('https://www.solidbackgrounds.com/images/1600x900/1600x900-spanish-sky-blue-solid-color-background.jpg') black no-repeat center center scroll;
  }

  .baf-home-slider video {
    display: block;
  }
} */


/*--------------------------
      Video
--------------------------*/
.video__btn {
  position: relative;
}

.popup-video {
  text-align: center;
  display: inline-block;
  position: relative;
}

.popup-video .video__player {
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #222222;
  position: relative;
  display: inline-block;
}

.popup-video .video__player-animation {
  position: relative;
  width: 66px;
  height: 66px;
}

.popup-video .video__player-animation:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -24px;
  width: 66px;
  height: 66px;
  opacity: 1;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-animation: pulsing 1s infinite linear;
  -moz-animation: pulsing 1s infinite linear;
  -ms-animation: pulsing 1s infinite linear;
  -o-animation: pulsing 1s infinite linear;
  animation: pulsing 1s infinite linear;
}

.popup-video .video__player-title {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 0;
  line-height: 1;
}

.popup-video:hover .video__player-animation:before {
  opacity: 0;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

/* =========================
    Banner Background
 ========================= */

.video-1 {
  padding: 0;
}

.banner-home .video__btn {
  height: 500px;
}



/* Mobile Phones and tablets */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .video-1 .video__btn {
    height: 400px;
  }

  .video-1 .inner-padding {
    padding: 50px 30px;
  }

}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@-moz-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@-ms-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@-o-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}



/* ---------------
Features Box
----------------*/

.features-box-sm {
  width: 100%;
  position: relative;
  opacity: 1;
  overflow: hidden;
}

.features-box-sm .feature-box__image {
  transform: scale(1, 1);
  -webkit-transition: .6s -webkit-transform ease;
  transition: .6s -webkit-transform ease;
  transition: .6s transform ease;
  transition: .6s transform ease, .6s -webkit-transform ease;
}


.features-box-sm .feature-box__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.features-box-sm .feature-box__title {
  color: #232b2a;
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 10px;
  display: inline-block;
  -webkit-transition: background-color .6s ease, color .6s ease;
  transition: background-color .6s ease, color .6s ease;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
  border-left: 4px solid #0069D9;
}

.features-box-sm .feature-box__cta {
  background-color: #0073cf;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.2;
  font-weight: 600;
  display: block;
  font-size: 16px;
  -webkit-transition: background-color .6s ease, color .6s ease;
  transition: background-color .6s ease, color .6s ease;
  border: 2px solid #0073cf;
  float: left;
  clear: both;
  position: relative;
  padding-right: 30px;

}

.features-box-sm .feature-box__cta:after {
  display: block;
  font-family: "Font Awesome 5 Free";
  float: right;
  font-size: 20px;
  line-height: 1;
  content: '\f105 ' !important;
  position: absolute !important;
  top: 5px !important;
  right: 10px !important;
}

.features-box-sm .feature-box__link:hover .features-box-hover {
  transform: scale(1.1, 1.1);
}

.features-box-sm .feature-box__link:hover .feature-box__title {
  background-color: #0073cf;
  color: #fff;
  border-color: #0073cf;
}

.features-box-sm .feature-box__link:hover .feature-box__cta {
  background-color: rgba(255, 255, 255, .8);
  color: #232b2a;
  border-color: #0073cf;
}


.features-box {
  width: 100%;
  position: relative;
  opacity: 1;
  overflow: hidden;
}

.features-box .feature-box__image {
  transform: scale(1, 1);
  -webkit-transition: .6s -webkit-transform ease;
  transition: .6s -webkit-transform ease;
  transition: .6s transform ease;
  transition: .6s transform ease, .6s -webkit-transform ease;
}


.feature-box__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.feature-box__title {
  color: #232b2a;
  background-color: rgba(255, 255, 255, .8);
  padding: 5px 10px;
  display: inline-block;
  -webkit-transition: background-color .6s ease, color .6s ease;
  transition: background-color .6s ease, color .6s ease;

  font-size: 18px;
  margin-bottom: 0;
  font-weight: 700;
}

.feature-box__cta {
  background-color: #0073cf;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.2;
  font-weight: 600;
  display: block;
  font-size: 16px;
  -webkit-transition: background-color .6s ease, color .6s ease;
  transition: background-color .6s ease, color .6s ease;
  border: 2px solid #0073cf;
  float: left;
  clear: both;
  position: relative;
  padding-right: 30px;

}

.feature-box__cta:after {
  display: block;
  font-family: "Font Awesome 5 Free";
  float: right;
  font-size: 20px;
  line-height: 1;
  content: '\f105 ' !important;
  position: absolute !important;
  top: 5px !important;
  right: 10px !important;
}

.feature-box__link:hover .features-box-hover {
  transform: scale(1.1, 1.1);
}

.feature-box__link:hover .feature-box__title {
  background-color: #0073cf;
  color: #fff;
  border-color: #0073cf;
}

.feature-box__link:hover .feature-box__cta {
  background-color: rgba(255, 255, 255, .8);
  color: #232b2a;
  border-color: #0073cf;
}


.feature-box-full__title {
  color: #232b2a;
  background-color: rgba(255, 255, 255, .8);
  padding: 10px;
  display: inline-block;
  -webkit-transition: background-color .6s ease, color .6s ease;
  transition: background-color .6s ease, color .6s ease;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}

.proud-member .features-box:hover .feature-box-full__title {
  background-color: #0073cf;
  color: #fff;
  border-color: #0073cf;
}

.proud-member .features-box:hover .feature-box__cta {
  background-color: rgba(255, 255, 255, .8);
  color: #232b2a;
  border-color: #0073cf;
}

img.feature-box__image.features-box-hover.width-100 {
  width: 75%;
}

.proud-member .feature-box__label {
  padding: 40px;
}

/* Scroll Top Button */
#scrollTopBtn {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  opacity: 0;
  z-index: 1000;
  font-size: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #282828;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#scrollTopBtn:hover {
  background-color: #3390ff;
}

#scrollTopBtn.actived {
  right: 30px;
  opacity: 1;
}




/* Footer Widgets */
.site-footer {
  background-color: #002856;
}

.site-footer .baf-border-top {
  border-top: 1px solid #0e498c !important;
}

.footer-widget h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget ul li a {
  color: #ddd;
  display: block;
  padding-bottom: 5px;
}

.footer-widget ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-widget ul.social-icon li {
  display: inline-block;
}

.footer-widget ul.social-icon li a {
  display: block;
  font-size: 26px;
  margin-right: 15px;
}

.ff-bn {
  font-family: 'Hind Siliguri', sans-serif;
}

.header__topbar {
  background: #002856;
}



.featured-video .video__btn {
  height: 250px;
}

.coas-star {
  color: gold;
}

.cas-list li {
  list-style: none;
  padding: 2px 0px;
}

.rank-big {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 20px;
}

.name-big {
  font-size: 24px;
  text-transform: uppercase;
  color: #002856;
  font-weight: 700;
}

.achieve-deg {
  font-size: 13px;
  font-weight: 600;
  color: gold;
  letter-spacing: 1px;
}

.sep {
  width: 50px;
  height: 3px;
  background: #3390ff;
  margin: 30px 0;
}

.coas-thum {
  border: 1px solid #3390ff;
  padding: 20px;
  margin: 20px auto;
}

/* PAGE TITLE **/

.header-transparent+.page-title {
  margin-top: -107px;
}

.page-title {
  padding: 170px 0 100px;
  position: relative;
}

.page-title:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#73bec7), to(#4e66b0));
  background-image: -webkit-linear-gradient(bottom, #73bec7, #4e66b0);
  background-image: -o-linear-gradient(bottom, #73bec7, #4e66b0);
  background-image: linear-gradient(180deg, #002856, #4e66b0);
}

.pagetitle__heading {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: #3390ff;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}

.pagetitle__subheading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 40, 86, .75);
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}

.gallery-block-three {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.gallery-block-three .inner-box {
  position: relative;
  display: block;
  overflow: hidden;
  background: #3390ff;
}

.gallery-block-three .inner-box img {
  width: 100%;
  transition: all 500ms ease;
}

.gallery-block-three:hover .inner-box img {
  opacity: .6;
  transform: scale(1.1);
}

.gallery-block-three .inner-box .album-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery-block-three .inner-box .album-box button {
  position: relative;
  display: inline-block;
  background: transparent;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  transform: translateY(20px);
  opacity: 0;
  cursor: pointer;
  transition: all 500ms ease;
}

.gallery-block-three .inner-box:hover .album-box button {
  opacity: 1;
  transform: translateY(0px);
}

figure {
  margin: 0;
}

.inner-box .image-content {
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  z-index: 1;
}

.gallery-block-three .inner-box .image-content h3 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  top: 30px;
  transition: all 500ms ease;
  text-transform: uppercase;
  font-weight: 700;
}


.gallery-block-three:hover .inner-box .image-content h3 {
  top: 0px;
}

.inner-box .image-content .categories-list {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms ease;
}

.gallery-block-three:hover .inner-box .image-content .categories-list {
  opacity: 1;
  transform: translateY(0px);
}


.inner-box .image-content .categories-list {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}


.inner-box .image-content .album-link {
  position: absolute;
  right: 20px;
  bottom: -3px;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background: cornflowerblue;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10%;
}

.album-block .inner-box:before {
  position: absolute;
  content: '';
  background-image: linear-gradient(0deg, cornflowerblue 0%, cornflowerblue 20%, cornflowerblue 35%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition: all 500ms ease;
}
.single-pa .album-block .inner-box:before {
	
	display: none !important;
}


.skip-icon {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 0 auto;
  width: 132px;
  height: 100px;
  line-height: 100px;
  animation: bounce-4 2s infinite;
}

@keyframes bounce-4 {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1, 1) translateY(0);
  }

  30% {
    transform: scale(1, 1) translateY(-20px);
  }

  50% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@media (min-width: 576px) and (orientation: portrait),
(min-width: 768px) {
  .skip-icon {
    display: block;
  }

}


.img-100 {
  width: 100%;
}



.announcement li a {
  color: #555;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  transition: ease all .3s;
}

.announcement li a:hover {
  color: #3390ff;
}


.slick-arrow {
  width: 45px;
  height: 45px;
  background: #3390ff;
  color: #fff;
  position: absolute;
  transition: .3s all ease;
  bottom: -30px;
  z-index: 99;
}




button.user-next.slick-arrow {
  right: 15px;
}

button.user-prev.slick-arrow {
  left: 15px;
}

button.user-next.slick-arrow:hover,
button.user-next.slick-arrow:focus {
  background-color: #2983d1;

}

button.user-prev.slick-arrow:hover,
button.user-prev.slick-arrow:focus {
  background-color: #2983d1;

}

.slick-dots {
  display: inline-block;
    position: absolute;
    left: 50% !important;
    bottom: -20px;
    padding: 0;
    transform: translateX(-50%);
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  text-indent: -20000px;
  height: 10px;
  width: 10px;
  border: 1px solid #677294;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background: #1965FD;
  border-color: #1965FD;
}

.px-15{
  padding-left: 15px;
  padding-right: 15px;;
}




.single-baf-notice {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: .2s ease all;
}
.single-baf-notice a {
  color: #555;
  font-weight: 700;
}

.single-baf-notice:hover a {
  color: #fff;
}


.single-baf-notice:hover {
  background: #3390ff;
}

marquee {
  height: 257px;
}


/* Mobile Phones and tablets */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  img.feature-box__image.features-box-hover.width-100 {
    width: 100%;
}
.proud-member .feature-box__label {
  padding: 20px;
}
.slick-dots {
  display: none !important;
}

}


@media only screen and (max-width: 991px) {

  .m-mb-50{
    margin-bottom: 50px;
  }
  .organization-menu{
    display: block !important;
  }
  .header__topbar .px-5.px-md-0{
    padding: 0 !important;
  }
  .header__topbar {
    height: 38px !important;
}
.header-transparent+.baf-home-slider {
  margin-top: 0 !important;
}
}


/* Mobile Phones and tablets */
@media only screen and (max-width: 767px) {
  #peace-keeper-mobile-view{
    width: 100%;
  }
  #peace-keeper-mobile-view thead tr th,
  #peace-keeper-mobile-view tbody tr td{
    font-size: 12px;
    padding:.25rem
  }

}